:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color:  #4a5568;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-6xl: 3rem;
  --text-6xl-line-height: 1;
  --color-st-blue: #3a8dff;
  --color-st-lightblue: #e6f0ff;
  --color-st-antiwhite: #f5f7fa;
  --color-st-gray: #4a5568;
  --color-st-lightgray: #a0aec0;
  --color-st-red: #ff6b6b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl--line-height);
  font-weight: 600;
  margin-bottom: 16px;
}

#app {
  max-width: 1280px;
  flex-grow: 1;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 3rem;
  border-radius: 6px;
  border: 1px solid #a0aec0;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color:var(--color-st-lightblue);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-st-gray);
}
button:hover {
  /* border-color: #646cff; */
  border-color: var(--color-st-blue);

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
